# ----------------------------
# Paths & Temp
# ----------------------------
TMP_DIR=./data/tmp

# ----------------------------
# Goodreads API
# ----------------------------
GOODREADS_USER_ID=123456789
GOODREADS_API_KEY=your_api_key

# ----------------------------
# MySQL General (compartido por Airflow y Goodreads)
# ----------------------------
DB_HOST=mysql
DB_PORT=3306

# ----------------------------
# Base de datos Airflow
# ----------------------------
AIRFLOW_DB_NAME=airflow_db
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow123

# ----------------------------
# Base de datos Goodreads
# ----------------------------
GOODREADS_DB_NAME=goodreads
GOODREADS_DB_USER=user_1
GOODREADS_DB_PASSWORD=password_1

# ----------------------------
# Airflow Webserver
# ----------------------------
AIRFLOW_HOME=/opt/airflow
AIRFLOW_BASE_URL=http://airflow-webserver:8080/api/v1
AIRFLOW_API_URL=http://airflow-webserver:8080/api/v1
AIRFLOW_USERNAME=admin
AIRFLOW_PASSWORD=admin
AIRFLOW_UID=50000

# ----------------------------
# Docker
# ----------------------------
COMPOSE_BAKE=true

# ----------------------------
# Timezone
# ----------------------------
TIMEZONE=Europe/Madrid
